<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.github.mthli.Berries"
          android:versionCode="1"
          android:versionName="1.0">

    <!-- SDK -->
    <uses-sdk android:minSdkVersion="14" />

    <!-- Permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Application -->
    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:allowBackup="true"
                 android:largeHeap="true">

        <!-- SplashActivity -->
        <!-- TODO -->

        <!-- MainActivity -->
        <activity android:name=".Activity.MainActivity"
                  android:label="@string/app_name"
                  android:theme="@style/Base">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- HistoryActivity -->
        <activity android:name=".Activity.HistoryActivity"
                  android:label="@string/history_label"
                  android:theme="@style/Base">
        </activity>

        <!-- AboutActivity -->
        <activity android:name=".Activity.AboutActivity"
                  android:label="@string/about_label"
                  android:theme="@style/Base">
        </activity>

        <!-- TODO -->

    </application>

</manifest>
